#banner{
    background: linear-gradient(to right, #021B79, #0652dd, #021B79);
    padding: 50px 0;
    text-align: center;
    color: white;
    margin-top: 50px;
}
#banner h1{
    font-size: 40px;
    padding: 0 5vw;
}
#banner h2{
    font-size: 17px;
    padding: 30px 10vw;
}
#banner a{
    background: none;
    display: inline-block;
    color: white;
    font-size: 20px;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 30px;
    padding: 5px 30px;
    transition: 0.2s ease ;
    font-weight: bold;
}
#banner a:hover{
    background-color: white;
    color: #0652dd;
}

@media screen and (max-width: 500px){
    #banner h1{
        font-size: 20px;
    }
    #banner h2{
        font-size: 10px;
        font-weight: normal;
    }
    #banner a{
        font-size: 14px;
    }
}