
.cardblock{
    width: 90%;
    margin: 30px auto;
    padding: 50px 2vw;
}

.cardblock h1{
    font-size: 40px;
    padding-left: 2vw;
}
.cardblock section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.cardblock > a{
    display: block;
    width: 15vw;
    background-color: #0652DD;
    color: white;
    margin: 30px auto 0 auto;
    padding: 10px;
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    outline: none;
}
.cardblock > a:hover{
    background-color: blue;
}
.cards{
    display: block;
    text-decoration: none;
    background-color: #eeeeee;
    width: 75%;
    margin: auto;
    margin-top: 50px;
    padding: 1vw;
    box-shadow: 3px 3px 5px #00000080, -3px -3px 5px 1px #ffffff;
    border-radius: 20px;
    text-align: center;
}
.cards:visited{
    color: black;
}
.cards:hover{
    box-shadow: 5px 5px 10px 1px #00000080, -5px -5px 10px 3px #ffffff;
}
.cards h2{
    padding: 1vh;
    font-size: 20px;
    color: black;
}
.cards h4{
    font-weight: normal;
    font-size: 15px;
    padding: 5px 0 2vh 0;
    color: #555555;
}
.cards p{
    font-size: 12px;
    color: #222;
}
.cards img{
    display: block;
    width: 100%;
    height: 20vh;
    margin: auto;
    border-radius: 10px;
}
.cards button{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    padding: 1vh 1vw;
    border-radius: 20px;
    margin-top: 1vh;
    color: black;
    font-size: 14px;
}
.cards:hover h2 , .cards:hover button{
    color: #0652DD;
}

.cards button:hover{
    color: white;
    background-color: #0652DD;
}

    
/*--------------------------------------------------------------*/

@media screen and (max-width: 500px){

    .cardblock{
        margin: 20px auto;
        padding: 0;
    }

    .cardblock h1{
        font-size: 28px;
        text-align: center;
    }

    .cardblock section{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        padding-top: 20px;
    }

    .cardblock > a{
        width: 40vw;
        font-size: 14px;
        margin: 0 auto 40px auto;
        padding: 5px;
    }

    .cards{
        width: 80%;
        margin: auto;
        margin-bottom: 8%;
        box-shadow: 2px 2px 3px #00000080, -2px -2px 3px 1px #ffffff;
    }
    .cards h2{
        padding: 1vw;
        font-size: 18px;
    }
    .cards h4{
        font-size: 12px;
        padding: 1vh 0;
    }
    .cards p{
        font-size: 10px;
    }
    .cards button{
        font-size: 12px;
        margin-top: 0;
    }
    .cards img{
        width: 90%;
    }

    #compOnly{
        display: none;
    }

}