@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');


body{
    background-color: #222222;
}
nav{
    background-color: #ff0000;
}
nav li{
    border-color: #ff0000;
}
nav ul div{
    background-color: #eeeeee;
}
nav ul{
    background-color: #ff0000;
}
/*----------------------------------------------------------------------*/
#footerLogo{
    background-color: #222222;
}
footer{
    background-color: #000000;
    color: white;
}
footer h3{
    color: red;
}
footer section{
    color: #cccccc;
}
#followLinks h2{
    color: red;
}
#footerContact h2{
    color: red;
}
#copyright{
    color: #999999;
}
/*--------------------------------------------------------------------------------*/
header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    height: 100vh;
    color: white;
    background-color: #111111;
}
header div{
    margin-top: 60px;
}
header img{
    display: block;
    padding: 30px 0;
    width: 60%;
    margin: auto;
    /* animation: 4s ease-out 1s infinite shadower;
}
@keyframes shadower{
    0%{
        filter: drop-shadow(0 0 1px #ff0000);
    }
    100%{
        filter: drop-shadow(0 0 1000px #ff0000);
    } */
    
}
header h1{
    font-family: 'lobster two';
    font-size: 50px;
}
header h2{
    font-size: 30px;
}
header > div > a{
    display: inline-block;
    color: white;
    text-decoration: none;
    font-weight: bold;
    outline: none;
    font-size: 24px;
    background-color: #ff0000;
    padding: 10px 50px;
    border-radius: 50px;
    margin-top: 5vh;
}
header > div > a:hover{
    background-color: #dd0000;
}
header h4{
    color: red;
    font-size: 22px;
    padding-top: 20px;
}
header p{
    font-size: 14px;
    padding-top: 10px;
    padding-right: 5vw;
    text-align: justify;
}
.follow{
    margin: 10px 0;
}
.follow a{
    display: inline-block;
    font-size: 32px;
    height: 50px;
    width: 50px;
    text-align: center;
    border-radius: 50%;
    margin-right: 20px;
    background-color: #000;
}
header aside{
    text-align: center;
    margin-top: 5vh;
}
header aside a{
    color: #ff0000;
    text-decoration: none;
    font-size: 50px;
}
header h5{
    font-size: 18px;
}
/*---------------------------------------------------------------------------*/
main{
    margin: 100px 0;
}
section{
    padding: 0 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    color: white;
}
.vidcard{
    padding: 20px 5%;
    margin: 0 5px;
    font-family: 'roboto';
}
.vidcard:hover{
    background-color: #111111;
}
.vidcard img{
    display: block;
    width: 100%;
    height: 18vh;
}
.vidcard h2{
    color: red;
    font-size: 22px;
    font-family: 'roboto';
    overflow: hidden;
    padding-top: 5px;
    max-height: 55px;
}
.vidcard p{
    font-size: 16px;
}
.vidcard pre{
    font-size: 13px;
    color: #aaaaaa;
}
