header{
    display: flex;
    margin-top: 40px;
    padding-top: 60px;
    width: 100vw;
    background: url(../Resources/Trash/bgtemp.jpg);
    background-size: cover;
}
.himg{
    width: 25%;
    padding: 10px 10%;
}
.himg img{
    width: 100%;
}
.hcontent{
    width: 70%;
    padding-right: 90px;
    padding-bottom: 90px;
    color: white;
    text-shadow: 0 1px 5px #000000;
}
.hcontent h1{
    font-size: 60px;
    padding-bottom: 20px;
    font-family: 'lobster two';
}
.hcontent h3{
    padding: 30px 0;
    font-size: 30px;
}
.hcontent a{
    padding: 5px 50px;
    background: #0652DD;
    text-decoration: none;
    color: #ffffff;
    border: 5px solid #0652DD;
    border-radius: 25px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    outline: none;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.75), -1px -1px 3px rgba(255, 255, 255, 0.75) ;
}
.hcontent a:hover{
    background-color: rgb(5, 60, 165);
    border: 5px solid rgb(5, 60, 165);
}


/*----------------------------------------------------------------------------------------------------------------------------------------*/


#upcoming{
    width: 100%;
    background-color: #121212;
    color: #ffffff;
    padding-bottom: 50px;
}
#upcoming h1{
    color: #ffffff;
    padding: 30px 0 50px 5vw;
}
#upcoming h1 span{
    padding: 5px;
    text-align: center;
    display: inline-block;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-color: #ffffff;
    color: #ff0000;
    font-size: 40px;
}
#upcoming section{
    display: grid;
    grid-template-columns: 3fr 2fr;
}
#upcoming section div{
    width: 100%;
    font-size: 30px;
    text-align: center;
}
#upcoming section div img{
    width: 80%;
    padding: 1% 10% 2% 10%;
}
#future{
    width: 40vw;
    padding-right: 5vw;
}
#future h3{
    font-size: 18px;
    color: #0652DD;
}
#future p{
    font-size: 14px;
    text-align: justify;
    padding-bottom: 20px;
}
#future a{
    display: inline-block;
    padding: 10px 30px;
    color: #ffffff;
    background-color: #0652DD;
    text-decoration: none;
    font-weight: bold;
}


/*----------------------------------------------------------------------------------------------------------------------------------------*/


#reviews{
    background: url(../Resources/Trash/bgtemp.jpg);
    background-size: cover;
    color: white;
    padding: 5vh 15vw;
    text-shadow: 0 0 10px #000000;
}
#reviews h1{
    font-size: 40px;
    padding-bottom: 20px;
}
.reviewNamer{
    padding: 3vh 0;
    display: grid;
    grid-template-columns: 1fr 8fr;
}
.reviewNamer img{
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    border: 2px solid #ffffff;
}
#reviews p{
    font-size: 14px;
    text-align: justify;
    text-shadow: 0 0 5px #000000;
    padding: 0 10px;
}
#reviews aside{
    text-align: center;
    padding-top: 2vh;
}
.revNav{
    display: inline-block;
    width: 10px;
    margin: 1vh;
    height: 10px;
    border-radius: 50%;
    background-color: #0652DD;
    cursor: pointer;
}
#reviews section{
    overflow-x: hidden;
    width: 100%;
}
#revMain{
    width: 300%;
    display: flex;
    height: 300px;
    transition-duration: 1s;
    transition-timing-function: linear;
}


/*-----------------------------------------------------------------------------------------------------------------------------------------*/


@media screen and (max-width: 500px){

    header{
        display: block;
        padding-top: 20px;
    }
    .himg{
        width: 30%;
        margin: auto;
    }
    .hcontent{
        width: 80%;
        margin: auto;
        padding: 0 0 30px 0;
    }
    .hcontent h1{
        font-size: 44px;
        text-align: center;
        padding-bottom: 10px;
    }
    .hcontent p{
        font-size: 12px;
        text-align: justify;
    }
    .hcontent h3{
        font-size: 16px;
        padding: 20px 0;
        text-align: center;
    }
    .hcontent a{
        padding: 0px 25px;
        font-size: 15px;
        margin: auto;
        width: 35vw;
        display: block;
    }


    /*-------------------------------------------------------------------------------------------------------------------*/


    #upcoming{
        padding-bottom: 30px;
    }
    #upcoming h1{
        font-size: 22px;
        padding: 20px 0;
        text-align: center;
    }
    #upcoming h1 span{
        font-size: 22px;
        height: 32px;    width: 32px;
        padding: 2px;
        margin-right: 5px;
    }
    #upcoming section{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr;
    } 
    #upcoming section div{
        font-size: 16px;
    }
    #upcoming section div img{
        width: 90%;
        margin: 3% auto;
        padding: 0;
        display: block;
        border-radius: 20px;
    }
    #future{
        width: 80%;
        margin: auto;
        text-align: center;
    }
    #future h3{
        font-size: 16px;
    }
    #future p{
        font-size: 12px;
        text-align: center;
        padding-bottom: 15px;
    }
    #future a{
        font-size: 14px;
        padding: 10px 25px;
        border-radius: 20px;
    }


    /*-------------------------------------------------------------------------------------------------------------------------------------*/

    #reviews{
        padding: 5vh 8vw;
    }
    #reviews h1{
        font-size: 6vw;
        text-align: center;
        padding-bottom: 10px;
    }
    .reviewNamer{
        padding: 1vh;
        text-align: center;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr 2fr;
    }
    .reviewNamer img{
        display: block;
        width: 20vw;
        height: 20vw;
        margin: auto;
    }
    .reviewNamer pre{
        font-size: 12px;
    }
    .reviewNamer h2{
        font-size: 18px;
    }
    #reviews p{
        font-size: 10px;
    }
    #revMain{
        height: 380px;
    }

}