@import url('https://fonts.googleapis.com/css?family=Lobster+Two|Poppins:400,700&display=swap');

body{
    background-color: #eeeeee;
    width: 100vw;
    overflow-x: hidden;
    cursor: default;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'poppins';
}


nav{
    height: 60px;
    position: fixed;
    width: 100vw;
    top: 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    background-color: #0652DD;
    color: white;
    z-index: 500;
}
nav h1{
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 30px;
    font-family: 'lobster two';
    font-size: 30px;
}
nav h1 a{
    display: block;
    height: 100%;
    color: white;
    text-decoration: none;
    font-family: 'lobster two';
}
nav img{
    height: 70%;
    margin-right: 10px;
    position: relative;
    top: 10px
}
nav ul{
    display: flex;
    list-style: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    align-items: center;
    width: 800px;
    justify-content: space-between;
    margin: 0 50px;
    font-size: 18px;
    font-weight: bold;
}

nav li{
    border-radius: 20px;
    border: 2px solid #0652DD;
    padding: 0px 10px;
}
nav li:hover{
    border: 2px solid white;
}
nav ul a{
    color: white;
    text-decoration: none;
    cursor: default;
}
nav ul div{
    background: white;
    width: 400px;
    height: 40px;
    border-radius: 20px;
    margin-right: 20px;
    padding-top: 4px;
    box-sizing: border-box;
}
nav ul div i{
    color: black;
    margin-left: 5px;
}
nav ul div input{
    margin-left: 15px;
    width: 345px;
    outline: none;
    border: none;
}
nav ul div button{
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}

nav > div {
    right: 15px;
    top: 10px;
    position: absolute;
    border: 2px solid white;
    padding: 1px;
    border-radius: 7px;
    display: none;
}

.navDots{
    height: 4px;
    width: 25px;
    margin: 3px;
    border-radius: 3px;
    background-color: white;
    display: block;
}

/*---------------------------------------------------------------------------------------------------------------*/


@media screen and (max-width: 500px){

    nav{
        height: 50px;
    }
    nav h1{
        font-size: 24px;
        margin-left: 15px;
    }
    nav h1 img{
        top: 8px;
    }

    nav > div {
        display: block;
    }
    nav ul{
        width: 90vw;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        top: -400px;
        padding: 10px 20px;
        margin: 0;
        background-color: #0652DD;
        height: auto;
        right: auto;
        transition-timing-function: ease;
        transition-duration: 0.5s;
        z-index: -1;
    }
    nav ul div{
        width: 100%;
        margin: 10px 0;

    }

    nav ul div i{
        color: black;
        margin-left: 5px;
    }
    nav ul div input{
        width: 82%;
    }
    nav li{
        width: 80%;
    }  

}