#eventNav{
    padding: 60px 10vw 80px 10vw;
}
#eventNav h1{
    font-size: 36px;
}
#eventNav section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.pemplate{
    color: white;
    border-radius: 20px;
    width: 90%;
    height: 15vh;
    margin-top: 30px;
}
.pemplate a{
    display: flex;
    height: 100%; width: 100%;
    border-radius: 20px;
    transition: 0.2s;
    font-size: 20px;
    font-weight: bold;
    align-items: flex-end;
    justify-content: center;
    text-shadow: 0 0 10px black; 
    text-align: center;
}
.pemplate a:hover{
    background-color: #00000080;
}
/*-----------------------------------*/
@media screen and (max-width: 500px){
    #eventNav{
        padding: 50px 4vw;
    }
    #eventNav h1{
        font-size: 24px;
        padding: 0 6vw;
        text-align: center;
    }
    #eventNav section{
        grid-template-columns: 1fr 1fr;
    }
    .pemplate{
        margin: 15px auto auto;
        height: 12vh;
        border-radius: 12px;
    }
    .pemplate a{
        font-size: 16px;
        text-shadow: 0 0 5px black;
    }
}