header{
    display: flex;
    margin-top: 100px;
    width: 100vw;
}

.himg{
    width: 30%;
    padding: 0 10%;
}
.himg img{
    width: 100%;
}

.hcontent{
    width: 70%;
    padding-right: 100px;
    padding-bottom: 50px;
}
.hcontent h1{
    font-size: 60px;
    padding-bottom: 20px;
}
.hcontent h3{
    padding: 30px 0;
    font-size: 30px;
}
.hcontent button{
    padding: 5px 50px;
    background-color: white;
    color: #0652DD;
    border: 5px solid #0652DD;
    border-radius: 25px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.hcontent button:hover{
    background-color: #0652DD;
    color: white;
}

