header{
    display: flex;
    margin-top: 50px;
    padding-top: 50px;
    width: 100vw;
    background: url(Resources/Trash/bgtemp.jpg);
    background-size: cover;
    cursor: default;
}

.himg{
    width: 25%;
    padding: 10px 10%;
}
.himg img{
    width: 100%;
}

.hcontent{
    width: 70%;
    padding-right: 90px;
    padding-bottom: 50px;
    color: white;
    text-shadow: 0 1px 5px #000000;
}
.hcontent h1{
    font-size: 60px;
    padding-bottom: 20px;
}
.hcontent h3{
    padding: 30px 0;
    font-size: 30px;
}
.hcontent button{
    padding: 5px 50px;
    background: #0652DD;
    color: #ffffff;
    border: 5px solid #0652DD;
    border-radius: 25px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
}
.hcontent button:hover{
    background-color: #ffffff;
    color: #0652DD;
}

/*----------------------------------------------------------------------------------------------------------*/

#eventNav h1{
    margin-left: 11vw;
    padding-top: 50px;
    padding-bottom: 15px;
}

#eventNav section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 300px;
    width: 80%;
    margin: auto;
    padding-bottom: 50px;
}
#eventNav a{
    text-decoration: none;
    display: block;
    outline: none;
    width: 90%;
    height: 120px;
    margin: auto;
    border-radius: 10px;
}

.pemplate{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.pemplate:hover{
    background-color: #00000080;
}
.pemplate h3{
    margin: auto;
    text-align: center;
    height: 90%;
    padding-top: 30%;
    color: white;
    text-shadow: 0 0 5px #000000;
}

/*--------------------------------------------------------------------------------------------------------*/

#upcoming{
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    padding-bottom: 50px;
}
#upcoming h1{
    color: #ffffff;
    padding: 20px 0 30px 5vw;
}
#upcoming h1 span{
    padding: 5px;
    text-align: center;
    display: inline-block;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-color: #ffffff;
    color: #ff0000;
    font-size: 40px;
}
#upcoming section{
    display: grid;
    grid-template-columns: 3fr 2fr;
}

#upcoming section div{
    width: 100%;
    font-size: 30px;
    text-align: center;
}

#upcoming section div img{
    width: 80%;
    padding: 1% 10% 2% 10%;
}

#future{
    width: 40vw;
    padding-right: 5vw;
}
#future h3{
    font-size: 18px;
    color: #0652DD;
}
#future p{
    font-size: 14px;
    text-align: justify;
    padding-bottom: 20px;
}
#future a{
    display: inline-block;
    padding: 10px 30px;
    color: #ffffff;
    background-color: #0652DD;
    text-decoration: none;
    font-weight: bold;
}


/*--------------------------------------------------------------------------------------------------------*/

footer{
    background-color: #ced6e0;
    margin-top: 50px;
}
#footerLogo{
    background-color: #eeeeee;
    height: 50px;
    text-align: center;
    margin-bottom: 50px;
}
#footerLogo img{
    width: 100px;
}
footer h1{
    text-align: center;
    font-size: 40px;
}
footer h3{
    text-align: center;
    margin-bottom: 30px;
}
footer hr{
    width: 90%;
    margin: auto;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

footer section{
    display: grid;
    width: 80%;
    margin: 0 auto;
    padding: 30px 0;
    grid-template-columns: 5fr 2fr;
    color: #333333;
}
footer section p{
    text-align: justify;
    padding: 5px 30px 5px 0 ;
    font-size: 13px;
}

#followLinks h2{
    font-size: 24px;
    padding-left: 1vw;
    color: #111111;
}
#followLinks div{
    font-size: 36px;
    padding-left: 1vw;
    letter-spacing: 5px;
}

#footerContact{
    width: 80%;
    margin: auto;
}
#footerContact p span{
    padding-right: 200px;
}

#copyright{
    color: #666666;
    font-size: 12px;
    padding: 50px 0;
}