main{
    margin-top: 50px;
    padding: 50px 10vw;
    text-align: center;
}
main img{
    margin: auto;
    width: 10vw;
}
main h1{
    font-family: 'lobster two', Arial, Helvetica, sans-serif;
    font-size: 50px;
}
main article{
    font-size: 18px;
    padding: 20px 0;
}
main h4{
    font-size: 26px;
    color: #0652dd;
}
main hr{
    margin: 30px 0;
}
main h2{
    font-size: 30px;
}
main h3{
    font-size: 22px;
    padding-top: 20px;
}
main p{
    color: #333333;
    padding: 5px;
}
main .para{
    font-size: 14px;
    color: #444444;
}
main > div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px 0;
}
main h5{
    font-size: 18px;
}
main .iconholder{
    background-color: white;
    height: 50px; width: 50px;
    margin: 0 10px;
    font-size: 34px;
    transition: 0.5s;
}
main .iconholder:hover{
    background-color: #000;
}
main pre{
    font-size: 14px;
}
main .abutton{
    padding: 5px 40px;
    font-size: 16px;
}

main section{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.leaders{
    margin: 20px 0 40px 0;
}
.leaders h6{
    font-size: 18px;
    padding-top: 10px;
}
.leaders img{
    width: 40%;
    border-radius: 50%;
}
.leaders p{
    padding: 0;
}

@media screen and (max-width: 500px){
    main{
        padding: 40px 10px;
    }
    main img{
        width: 30vw;
    }
    main h1{
        font-size: 30px;
    }
    main h4{
        font-size: 16px;
    }
    main article{
        font-size: 15px;
    }
    main h2{
        font-size: 22px;
    }
    main h3{
        font-size: 18px;
    }
    main p{
        font-size: 14px;
    }
    main .para{
        font-size: 12px;
    }
    main > div{
        grid-template-columns: 1fr;
    }
    main h5{
        font-size: 16px;
    }
    main .iconholder{
        font-size: 26px;
        height: 40px; width: 40px;
        margin: 0 5px;
        margin-bottom: 20px;
    }
    main pre{
        margin: 5px 0;
    }

    main section{
        margin-top: 20px;
    }
    .leaders{
        margin: 10px 0;
    }
    .leaders h6{
        font-size: 15px;
        padding-top: 5px;
    }
    .leaders p{
        font-size: 13px;
    }
}