header{
    margin-top: 50px;
    padding: 50px 10% 0 10%;
    color: white;
    text-shadow: 0 0 10px black;
    text-align: center;
    margin-bottom: 100px;
}
header h1{
    font-size: 44px;
}
header p{
    padding: 20px 0;
}
header a{
    font-size: 20px;
    color: white;
    text-decoration: none;
    display: inline-block;
    background-color: #0652DD;
    text-shadow: none;
    padding: 10px 50px;
    border-radius: 30px;
    font-weight: bold;
    margin: 20px 0 40px 0;
    box-shadow: 0 0 20px 2px black;
}
header div{
    height: 50px;
}
header img{
    display: inline-block;
    width: 100px;
}

/*---------------------------------------------------------------------------------*/

main{
    margin: 150px auto 50px;
    width: 80%;
    border: 5px solid #0652DD;
    border-radius: 50px;
    padding-bottom: 30px;
}
main h1{
    width:40%;
    margin: auto;
    text-align: center;
    padding: 5px;
    font-size: 40px;
    background-color: #eeeeee;
    transform: translateY(-50%);
}
main section{
    display: grid;
    grid-template-columns: 2fr 3fr;
}
main img{
    width: 80%;
    display: block;
    margin: auto;
}
main section div{
    padding: 0 10px;
}
main h2{
    font-size: 24px;
}
main section p{
    font-size: 15px;
    text-align: justify;
    padding: 10px 50px 10px 0;
}
.steps{
    border-left: 2px solid #0652DD;
    margin-left: 30px;
}
.steps p{
    font-size: 16px;
    position: relative;
    left: -30px;
    padding: 20px 0 0 0;
}
.steps span{
    display: inline-block;
    transform: translateY(5%);
    padding: 0;
    margin: 0;
    font-size: 25px;
    border: 2px solid #0652DD;
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    margin-right: 10px;
}
/*--------------------------------------------------------------------*/
main h3{
    font-size: 20px;
    text-align: center;
    padding: 20px;
    margin-top: 80px;
}
.works{
    text-align: center;
}
.works p{
    text-align: center;
    font-size: 12px;
    padding: 0 10px;
    padding-top: 5px;
}
.works div{
    display: inline-block;
    box-sizing: border-box;
    padding-top: 5px;
    font-size: 26px;
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    color: #0652DD;
}
/*----------------------------------------------------------------------*/

@media screen and (max-width: 500px){

    header{
        padding: 50px 5% 0 5%;
        margin-bottom: 100px;
    }
    header h1{
        font-size: 30px;
    }
    header p{
        font-size: 13px;
        padding: 20px 10px;
    }
    header a{
        font-size: 16px;
        padding: 8px 30px;
    }
    header div{
        height: 35px;
    }
    header img{
        width: 70px;
    }
    /*-----------------------------------------------------*/
    main{
        margin-top: 100px;
        width: 94%;
        border-width: 3px;
        border-radius: 40px;
        padding-bottom: 10px;
    }
    main h1{
        font-size: 20px;
        width: 65%;
    }
    main section{
        grid-template-columns: 1fr;
    }
    main img{
        display: none;
    }
    main h2{
        font-size: 16px;
        text-align: center;
    }
    main section p{
        font-size: 12px;
        text-align: center;
        padding: 10px ;
    }
    .steps{
        margin-left: 20px;
        padding: 10px 0 0 10px;
    }
    .steps p{
        font-size: 12px;
        padding: 10px 0 0 0;
        text-align: left;
        width: 110%;
        left: -28px;
    }
    .steps span{
        height: 35px;
        width: 35px;
        font-size: 21px;
        margin-right: 5px;
        transform: translateX();
    }
    /*--------------------------------------------------*/
    main h3{
        font-size: 16px;
        padding-bottom: 10px;
        margin-top: 50px;
    }
    .works p{
        padding-bottom: 20px;
        font-size: 10px;
    }
    .works div{
        font-size: 20px;
        height: 40px;
        width: 40px;
    }
}